body {
    background-image: linear-gradient(to bottom right, rgba(1, 145, 255, 0.853), rgba(255, 255, 255, 0.454));
}

h1 {
    /* background-color: white;
    border: 20px;
    border-radius: 25px; */
    font-size: 85px;
    align-items: center;
    text-align: center;
    /* padding-top: 10; */
    padding-bottom: 10;
    font-family: 'Fjalla One', sans-serif;
}

img {
    width: 100%;
    height: 40%;
}

html, body {
    margin: 0;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 65px;
    align-items: center;
    text-align: center;
    padding-top: 10;
    padding-bottom: 10;
    font-family: 'Fjalla One', sans-serif;
    background-color: white;
    border: 20px;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

.last {
    margin-bottom: 200px;
}

h2:hover {
    font-size: 65px;
    align-items: center;
    text-align: center;
    padding-top: 10;
    padding-bottom: 10;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(137, 255, 147);
    border: 20px;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

a {
    font-size: 65px;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Fjalla One', sans-serif;
    background-color: white;
    border: 20px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1000%;
    margin-bottom: 1000%;
    color: black;
    text-decoration: none;

}

a:hover{
    font-size: 65px;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Fjalla One', sans-serif;
    border: 20px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1000%;
    margin-bottom: 1000%;
    color: black;
    background-color: rgb(125, 255, 131);
    text-decoration: none;
   
}

h3 {
    margin-top: 9%;
    margin-bottom: 9%;
}


